logs/
data/
past/
tmp/
test/
hpc/
.idea/
.ipynb_checkpoints/
wandb
*.pyc
*.pyd
*.pth
*.so
.vscode
sokoban/build
sokoban/gym_sokoban.egg-info
sokoban/gym_sokoban/envs/csokoban.cpp
sokoban/gym_sokoban/envs/boxoban-levels
sokoban/gym_sokoban/envs/surface
*__pycache__
thinker/build
thinker/wandb/
thinker/thinker/cenv.cp39-win_amd64.pyd
thinker/thinker.egg-info
thinker/thinker/cenv.cpp
thinker/thinker/cenv_bc.cpp
thinker/notebook
*.egg-info
*.egg-info/*
mujoco-py/mujoco_py/cymj.c
mujoco-py/mujoco_py/generated/
mujoco-py/mujoco_py.egg-info/SOURCES.txt
safety-gym/safety_gym.egg-info/PKG-INFO
ds004323-download/
output_plots/
pongresult/
spaceinvadersresult/
step_analysis copy/
step_analysis_spaceinvaders/
tmp_metrics_plots/
behavioral_data_4kframe_legacy/
behavioral_data_block/
behavioral_data_block_old/
design_matrix.mat/
pong_3e6_sub1_game1_day1_block1_episode0_17872/
data_spaceinvaders/
data_pong/
thinker/train.slurm
thinker/visual_behav.slurm
*.err
*.out
*.slurm
analysis_outputs-1/
analysis_outputs-2/
analysis_outputs-3/
analysis_outputs-4/
analysis_outputs-5/
analysis_outputs-6/
analysis_outputs/
./claude